In [4]:
import pandas as pd

import datetime

import numpy as np

import matplotlib.pyplot as plt

import yfinance as yf

%matplotlib inline

In [5]:
import pandas_datareader.data as web

stock_list=['AAPL','MSFT', 'GOOG', 'AMZN']


from datetime import datetime
end = datetime.now()
start_date = datetime(end.year-1,end.month,end.day)
start_date

datetime.datetime(2021, 10, 12, 0, 0)

In [6]:
amzn_test = web.DataReader(name='AMZN',data_source='yahoo',start=start_date,end=end)
amzn_test.tail()
df=pd.DataFrame(amzn_test)
df= df.assign(diff_Open_Close =df['Open']-df['Close'])
df.tail()

,High,Low,Open,Close,Volume,Adj Close,diff_Open_Close
Date,,,,,,,
2022-10-05,121.750000,117.690002,118.580002,120.949997,48217500.0,120.949997,-2.369995
2022-10-06,121.529999,119.500000,120.769997,120.300003,42253800.0,120.300003,0.469994
2022-10-07,118.169998,113.879997,118.000000,114.559998,54626400.0,114.559998,3.440002
2022-10-10,116.250000,112.430000,115.099998,113.669998,42339700.0,113.669998,1.430000
2022-10-11,115.480003,110.389999,112.709999,112.209999,56347100.0,112.209999,0.500000

In [7]:
apple_test = web.DataReader(name='AAPL',data_source='yahoo',start=start_date,end=end)
apple_test.tail()
df=pd.DataFrame(apple_test)
df= df.assign(diff_Open_Close =df['Open']-df['Close'])
df.tail()

,High,Low,Open,Close,Volume,Adj Close,diff_Open_Close
Date,,,,,,,
2022-10-04,146.220001,144.259995,145.029999,146.100006,87830100.0,146.100006,-1.070007
2022-10-05,147.380005,143.009995,144.070007,146.399994,79471000.0,146.399994,-2.329987
2022-10-06,147.539993,145.220001,145.809998,145.429993,68402200.0,145.429993,0.380005
2022-10-07,143.100006,139.449997,142.539993,140.089996,85859100.0,140.089996,2.449997
2022-10-10,141.889999,138.570007,140.419998,140.419998,74827900.0,140.419998,0.000000

In [9]:
msft = web.DataReader(name='Msft',data_source='yahoo',start=start_date,end=end)
msft.tail()
df2=pd.DataFrame(msft)
df2= df2.assign(diff_Open_Close =df['Open']-df['Close'])
df2.tail()

,High,Low,Open,Close,Volume,Adj Close,diff_Open_Close
Date,,,,,,,
2022-10-04,250.360001,244.979996,245.089996,248.880005,34888400.0,248.880005,-1.070007
2022-10-05,250.580002,244.100006,245.990005,249.199997,20347100.0,249.199997,-2.329987
2022-10-06,250.339996,246.080002,247.929993,246.789993,20239900.0,246.789993,0.380005
2022-10-07,241.320007,233.169998,240.899994,234.240005,37732400.0,234.240005,2.449997
2022-10-10,234.559998,226.729996,233.050003,229.250000,29726900.0,229.250000,0.000000

In [9]:
amzn_test["COMPANY"]= 'amazon'

Perform cleaning

In [11]:
# Check for duplicate rows

amzn_test.duplicated()

Date
2021-10-07    False
2021-10-08    False
2021-10-11    False
2021-10-12    False
2021-10-13    False
              ...
2022-10-03    False
2022-10-04    False
2022-10-05    False
2022-10-06    False
2022-10-07    False
Length: 253, dtype: bool

In [13]:
# Check if there are any null values in the data

print(amzn_test.isnull())

             High    Low   Open  Close  Volume  Adj Close  COMPANY
Date
2021-10-07  False  False  False  False   False      False    False
2021-10-08  False  False  False  False   False      False    False
2021-10-11  False  False  False  False   False      False    False
2021-10-12  False  False  False  False   False      False    False
2021-10-13  False  False  False  False   False      False    False
...           ...    ...    ...    ...     ...        ...      ...
2022-10-03  False  False  False  False   False      False    False
2022-10-04  False  False  False  False   False      False    False
2022-10-05  False  False  False  False   False      False    False
2022-10-06  False  False  False  False   False      False    False
2022-10-07  False  False  False  False   False      False    False

[253 rows x 7 columns]

What was the change in stock price over time?

In [ ]:
!pip install --upgrade pandas
!pip install --upgrade pandas-datareader

In [1]:
from itertools import groupby
import pandas_datareader.data as web
stock_list=['AAPL','MSFT', 'GOOG', 'AMZN']

from datetime import datetime
end = datetime.now()
start_date = datetime(end.year-1,end.month,end.day)

amzn_test = web.DataReader(name='AMZN',data_source='yahoo',start=start_date,end=end)
amzn_test

amzn_test['com'] = ' AMAZON'
amzn_test.tail()

,High,Low,Open,Close,Volume,Adj Close,com
Date,,,,,,,
2022-10-04,123.000000,119.790001,119.889999,121.089996,62812600.0,121.089996,AMAZON
2022-10-05,121.750000,117.690002,118.580002,120.949997,48217500.0,120.949997,AMAZON
2022-10-06,121.529999,119.500000,120.769997,120.300003,42253800.0,120.300003,AMAZON
2022-10-07,118.169998,113.879997,118.000000,114.559998,54626400.0,114.559998,AMAZON
2022-10-10,116.250000,112.430000,115.099998,113.669998,42283200.0,113.669998,AMAZON

In [9]:
amzn_test['MAVG']  = ['adj close'].rolling(20).mean

AttributeError: 'list' object has no attribute 'rolling'

In [7]:
# Calculating the short-moving average
short_rolling = df.rolling(window=20).mean()
short_rolling.head(20)

,High,Low,Open,Close,Volume,Adj Close,diff_Open_Close
Date,,,,,,,
2021-10-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-05,170.074701,166.64885,167.833949,168.705201,66088800.0,168.705201,-0.871252

In [ ]:
# Calculating the long-window simple moving average
long_rolling = df.rolling(window=100).mean()
long_rolling.tail()

In [2]:
from curses import window


def SMA(amazon,period =20,column='Adj Close'):
    return amazon[column].rolling(window=period).mean()

ModuleNotFoundError: No module named '_curses'